<div class="container mt-5">
    <h1>Home</h1>
    <p>Welcome to your application!</p>
    <a href="/auth/github" class="btn btn-primary">Login with GitHub</a>
    <a href="/auth/gitlab" class="btn btn-primary">Login with GitLab</a>
</div>
